{% extends 'Basic.html'%}
{%block content%}
{% if updated %}
    <div class="alert alert-success">
        <center>
            <strong>
                Updated Successfully....
            </strong>
        </center>
    </div>
    <a href="/" class="btn btn-primary">Back to Home</a>
{% else %}
    <div class="row">
        <div class="col-sm-8 offset-2"> 
    <form action="{% url 'edit' my_id%}", method="POST">
        {% csrf_token %}
        {% for field in forms%}
                <div class="form-group">
                    <label for="{{field.id_for_label}}">
                        {{field.label}}
                    </label>
                        {{field}}
                    </div>
        {% endfor %}
        <button class="btn btn-success" type="submit">Update</button>
        <a href="/" class="btn btn-primary">Back to Home</a>
    </form>
    </div>
    </div>
{% endif %}
{% endblock %}